body {
  background-size:auto;
  font-family: Arial, sans-serif;
  color: black;
  background-color: darkgray;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #656565;
  color: #fff;
}

header nav a {
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

.about-me {
  padding: 2em;
}

.works {
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  
}

.work {
  width: 85%;
  text-align: left;
  background-color: grey;
  padding: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin-left: 20vh;
  height: 600px;
  margin: 2%;
  border: 2px solid gray ; 
  position: relative;
}

#project23 {
  margin-left: 16vh;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  text-decoration:none;
  margin-right: 100px;
}

.contact p {
  margin-top: 100px;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover {
  color:gray;
}

a:active {
  color: blue;
}

img {
  border-radius: 4px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:500px;
}